#
# modify ${{ PROJECT_NAME }} to your python code src
#
name: pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Requirements
        run: |
          python -m pip install -r requirements.txt

      - name: Install Pytest
        run: |
          python -m pip install pytest

      - name: Run Lint
        run: |
          pytest django_qiyu_utils
