name: Upload To PyPi

on:
  release:
    types: [ created ]

jobs:
  deploy:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install poetry
      - name: Build and publish
        env:
          USERNAME: ${{ secrets.PYPI_USERNAME }}
          PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          poetry publish -n -u $USERNAME -p $PASSWORD
